.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 33px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 572px;
  --gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 31px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 25px 788px 0 2px;
}

.u-section-1 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 31px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 25px 788px 0 2px;
}

.u-section-1 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 31px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 25px 788px 0 2px;
}

.u-section-1 .u-text-7 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 759px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 759px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 759px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 407px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 407px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: 432px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-right: 432px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-right: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 970px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 14px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 846px;
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 21px 693px 0 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: -1px;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 21px 693px 0 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: -1px;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 21px 693px 0 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: -1px;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 21px 693px 0 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: -1px;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 759px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 759px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 759px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 759px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 366px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-right: 366px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: 366px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-right: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 10px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 861px;
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  margin: 0 666px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  margin: 0 666px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 25px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  margin: 0 666px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 190px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 190px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 118px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 118px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    min-height: 666px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-weight: 700;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 621px;
}

.u-section-4 .u-gallery-1 {
  height: 499px;
  width: 724px;
  margin: 56px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

@media (max-width: 1199px) {
  .u-section-4 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-item-4 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-item-5 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-item-6 {
    margin-bottom: 0;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    width: 720px;
    margin-top: 94px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    margin-top: 101px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }
}