.u-section-1 .u-sheet-1 {
  min-height: 492px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 73px 414px 0 auto;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 458px;
  height: 301px;
  margin: -22px auto 0 35px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -269px 52px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 9px 33px 0 528px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: normal;
  transition-duration: 0.5s;
  margin: 4px 683px 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 361px;
  }

  .u-section-1 .u-image-1 {
    width: 343px;
    height: 292px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -265px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 361px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    line-height: 1;
    margin-top: 12px;
    margin-right: 526px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 311px;
    margin-right: 166px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -592px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 61px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 328px -83px 53px 224px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 313px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -594px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-4 {
    margin: 353px -113px 60px 113px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    margin-top: 268px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -548px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    letter-spacing: 0px;
    margin-top: 346px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-block-917f-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-917f-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-917f-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-917f-25.u-block-917f-25.u-block-917f-25:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-25.u-block-917f-25.u-block-917f-25.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-917f-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-917f-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-917f-13.u-block-917f-13.u-block-917f-13:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-13.u-block-917f-13.u-block-917f-13.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-917f-16:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-917f-16:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-917f-16.u-block-917f-16.u-block-917f-16:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-16.u-block-917f-16.u-block-917f-16.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-19:not([data-block-selected]):not([data-cell-selected]),
.u-block-917f-19:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-917f-19:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-917f-19.u-block-917f-19.u-block-917f-19:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-19.u-block-917f-19.u-block-917f-19.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-29:not([data-block-selected]):not([data-cell-selected]),
.u-block-917f-29:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-917f-29:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-917f-29.u-block-917f-29.u-block-917f-29:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-917f-29.u-block-917f-29.u-block-917f-29.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #4d4d4d !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #4d4d4d !important;
}.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: repeat(4, 25%);
  min-height: 230px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 58px;
  width: 58px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 28px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 58px;
  width: 58px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 28px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 58px;
  width: 58px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 28px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 58px;
  width: 58px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 28px auto 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-list-2 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: 25%;
  grid-template-columns: repeat(4, 25%);
  min-height: 291px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-icon-5 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-icon-6 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-icon-7 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-icon-8 {
  height: 61px;
  width: 61px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 190px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 241px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -18px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 616px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1587px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -188px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 216px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-1 {
    width: 381px;
    margin-top: -11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1627px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -445px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 327px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 208px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 54px;
  }
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-90c8-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-90c8-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-90c8-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-90c8-68.u-block-90c8-68.u-block-90c8-68:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-90c8-68.u-block-90c8-68.u-block-90c8-68.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 800px;
  margin: 15px auto 60px;
}

.u-section-3 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 348px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 348px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 667px;
  transform-origin: left center;
  border-style: solid;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 348px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -222px 0 0;
}

.u-section-3 .u-line-2 {
  margin-top: 211px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-3 .u-accordion-item-4 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 348px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 348px;
  background-image: none;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }

  .u-section-3 .u-line-1 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 24px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -254px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 1px 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 49px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 207px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 413px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 1px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -408px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 361px;
  }
}